*{
    font-family: 'Roboto', Courier, monospace;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bolder;
}


body {
    background-color: rgb(33, 33, 33);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.pnlTop{
    background-color:rgb(33, 10, 136);
}


.titolo{
    width: 100;
    text-align: center;
    font-size: 50px;
}

.section {
    width: 100%;
    text-align: center;
    background-color:rgb(33, 10, 136);
}


.section a{
    font-size: 40px;
    padding: 30px;
    text-decoration-line: none;
    font-weight: bolder;
    color: white !important;
}


.section a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: transparent !important;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}


.evoluzione{
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
}


.evoluzione p{
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    animation: fade-in 12s ease-in-out;
}

.museo{
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    background-color: transparent;
}


.museo p{
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    animation: fade-in 15s ease-in-out;
}


@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(-20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.animato {
    animation: fadeIn 1s ease-in-out;
}


@keyframes slideIn {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.animato {
    animation: slideIn 1s ease-in-out;
}


.video{

    text-align: center;
    margin-bottom: 10px;
}

.video iframe {
    width: 1200px;
    height: 700px;
}

.adriano_olivetti{
    float: left;
    padding-left: 20px;
}

.arduinobg{
    background-image: url("img/arduino.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainbg{
    background-image: url("img/ivrea.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.arduino p{
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    animation: fade-in 5s ease-in-out;
    background-color: rgb(14, 41, 196);
}

.arduino h2{
    background-color: rgb(14, 41, 196);
    animation: fade-in 5s ease-in-out;
}

.arduino{
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    background-color: transparent;
}

.map h2{
    margin-top: 10%;
    text-align: left;
}

.map{
    margin-bottom: 30%;
    margin-left: 30%;
}


